body{
	font-family: Helvetica, Arial, sans-serif;
}

.app__form{
	border: 1px solid #428bca;
	width: 800px;
	height: 570px;
	border-radius: 5px;
	margin: 0 auto;
}

.form__head{
	background: #428bca;
	padding: 10px 0 10px 15px;
	color: #fff;
}

.form__container{
	padding: 17px;
}

.form__wrap{
	display: flex;
	margin-top: 7px;
	margin-bottom: 20px;
}

.form__field{
	width: 360px;
	height: 32px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 0 0 13px;
	font-size: 16px;
}

.form__select{
	width: 375px;
}

.form__label{
	width: 130px;
	margin-top: 6px;
}

.form__field__check{
	margin-top: 5px;
}

.button__wrap{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.button__wrap input[type="submit"]{
	margin-left: 30px;
}

.form__button{
	width: 100px;
	height: 35px;
	color: #fff;
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
}

.form__button:hover{
	cursor: pointer;
}

.button__add{
	background: #5cb85c;
}

.button__del{
	background: #d9534f;
}

.button__del:hover{
	background: #b04340;
	transition: 0.4s;
}


.button__add:hover{
	background: #4b964b;
	transition: 0.4s;
}

table{
	width: 100%;
	border-collapse: collapse;
}

table td{
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
}

.table__head {
	font-weight: 600;
}